$main-brand: #df6c00;
$main-dark: hsl(0, 0%, 24%);
$main-white: hsl(0, 0%, 100%);
$error-red: hsl(0, 84%, 50%);
$success-green: hsl(138, 97%, 35%);
$confirm-blue: hsl(203, 95%, 50%);
$main-gray: #505050;
$light-gray: #e5e5e5;
$app-radius: 2px;
$vspace: 10px;
$hspace: 10px;
$main-font: 'Verdana', sans-serif;
$main-display-font: sans-serif;
$main-cursive-font: cursive;

$vspace: 10px;
$hspace: 10px;
