@import '../../styles/variables';


.header {
  display: flex;
  flex-direction: row;
  background-color: $main-brand;
  color: $main-white;
  padding: $hspace;

  a {
    color: $main-white;
    text-decoration: none;
    margin-right: $hspace;
  }

  a:hover {
    text-decoration: underline;
  }
}
